{% extends "base.html" %}

{% block pagename %}index{% endblock %}

<!-- http://stackoverflow.com/questions/866272/how-can-i-build-multiple-submit-buttons-django-form  -->

<body>

    <!-- latest article
    ================================================== -->
    {% block content %}

        {% if user.is_authenticated %}
        <h3>
            <p>Hey {{ user.username }}!</p>
        </h3>
        {% else %}
            <p>Yolo {{ user.username }}!</p>
        {% endif %}

        <h2> On {{date}} </h2>

        <div class="well col-md-6">
            <p> What do you want to be doing with your life! </p>
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit", name="job_search">Search</button>
            </form>
        </div>

        <p>&nbsp;</p>
        <h3> Search Linkedin </h3>
        <div class="well col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                {{form_l}}
                <button type="submit", name="linkedin_search">Search</button>
            </form>
        </div>

        <p>&nbsp;</p>

        <!--
        <div>
        <h3>
            <p>Prezi Overview</p>
        </h3>

            <iframe src="http://prezi.com/embed/axw5-6nfe1z8/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe>
        </div>

        -->


    {% endblock %}


</body>
