{% extends "base.html" %}

    {% block content %}

	<h3>Please Login</h3>

	<body>{% if form.errors %}
		<p class = "text-warning">UN and PW didnt match</p>
		{% endif %}

		<!-- the action here needs to be changed -->
		<form role="form" class="form-horizontal" method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			{{form}}
			<input class="btn btn-primary" type="submit" value="Login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</body>

   {% endblock %}
